pandas
numpy
ta
python-telegram-bot
python-dotenv
yfinance
psycopg2-binary
streamlit
pandas
numpy
python-dotenv
matplotlib
python-dateutil
pytz
streamlit
requests
beautifulsoup4
lxml
pandas
python-dateutil
python-dotenv
