@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-200 font-sans;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
